textarea {
    min-height: 400px;
}

/* load-mailbox styling */
#mail-peo {
    font-weight: bold;
    margin-right: 60px;
}

#mail-peo, #mail-body, #mail-timestamp {
    display: inline;
}
#emails-view {
    display: flex;
}

#mail-container, #arc-button {
    display: inline-block;
}

#arc-button {
    margin-left: auto;
    margin-right:0;
}

#mail-body label{
    font-weight: bold;
}

#mail-container {
    border-style:ridge;
    border-width: 0.5px;
    display: flex;
}

#mail-timestamp {
    margin-left: auto;
    margin-right: 5%;
}

/* view-each-email style */
#view-email-sender, #view-email-timestamp {
    display: inline-block;
}

#view-email-header {
    display: flex;
}

#view-email-timestamp {
    margin-left: auto;
    margin-right: 10%;
}

#view-email-sender {
    font-weight: bold;
}

#receiver {
    font-size: small;
    font-weight: normal;
}