{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="sidebar" style="margin-top: 0px;">
        <h2>{{ request.user.email }}</h2>
        <hr>

        <button class="btn btn-sm btn-outline-primary btn-block" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-primary btn-block" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-primary btn-block" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-primary btn-block" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-primary btn-block" href="{% url 'logout' %}">Log Out</a>
    
    </div>

    <div class="body-all">
        <div id="emails-view">
        </div>

        <div id="view-email">
            <h3 id="view-email-subject"></h3>
            <div id="view-email-header">
                <div id="view-email-sender">
                </div>
                <div id="view-email-timestamp"></div>
            </div>
            <div id="view-email-content"></div>
            <br>
            <button id="reply-button">Reply</button>
        </div>

        <div id="compose-view">
            <h1>New Email</h1>
            <form id="compose-form">
                <div class="form-group">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-primary compose-submit">
            </form>
            <p id="result"></p>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}